* {
    margin: 0;
  }

  
  .container1 {
    background-color: #f9eac3;
    padding: 16px;
    height: 500px;
  }

  .bloco-1 {
    background-color: #c6d8f0;
    height: 150px;
    width: 150px;
    text-align: center;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 16px;
  }
  
  .bloco-2 {
    background-color: #d8bfd8;
    height: 150px;
    width: 150px;
    text-align: center;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 16px;
  }
  
  .bloco-3 {
    background-color: #ff9999;
    height: 150px;
    width: 150px;
    text-align: center;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 16px;
  }